* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  border: none;
}
header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  width: 100%;
  background: transparent;
  padding: 20px 11%;
  align-items: center;
  justify-content: space-between;
}
.navbar {
  padding-left: 11%;
}
.navbar a {
  font-weight: 600;
  font-size: 13px;
  margin: 20px 15px;
  transition: all 0.5s ease;
}
.navbar li a:hover {
  color: #aeb4b8;
}

.h-right a {
  font-size: 13px;
  font-weight: 600;
}
#menu-icon {
  color: white;
  cursor: pointer;
  z-index: 10001;
  font-size: 24px;
  display: none;
}
@keyframes changeImage {
  0% {
    background-image: url("/img/slide1.jpg");
  }
  15% {
    background-image: url("/img/slide2.jpg");
  }
  30% {
    background-image: url("/img/slide3.jpg");
  }
  45% {
    background-image: url("/img/slide4.jpg");
  }
  60% {
    background-image: url("/img/slide5.jpg");
  }
  75% {
    background-image: url("/img/slide6.jpg");
  }
  90% {
    background-image: url("/img/slide7.jpg");
  }
  100% {
    background-image: url("/img/slide1.jpg");
  }
}

.home {
  position: relative;
  height: 135vh;
  width: 100%;
  animation: changeImage 40s infinite;
  background-size: cover;
  background-position: bottom center;
}

.home-text h1 {
  font-size: 40px;
  font-weight: 9000;
  text-transform: uppercase;
}
.btn {
  background-color: #0078be;
  padding: 13px 30px;
  border-radius: 20px;
}

.submenu {
  position: absolute;
  background-color: white;
  width: 160px;
  box-shadow: 0px 20px 45px #aeb4b8;
  opacity: 0;
  z-index: -999;

  border-radius: 10px;
}
.submenu a {
  color: #333333;
}
.submenu a:first-child {
  display: grid;
}
header ul li:hover .submenu {
  opacity: 1;
  z-index: 99;
  margin-top: 0px;
}
.submenu2 {
  position: absolute;
  background-color: white;
  width: 180px;
  box-shadow: 0px 20px 45px #aeb4b8;
  margin-top: -px;
  opacity: 0;
  z-index: -999;
  border-radius: 10px;
}
.submenu2 a {
  color: #333333;
}
.submenu2 a:first-child {
  display: grid;
}
header ul li:hover .submenu2 {
  opacity: 1;
  z-index: 99;
  margin-top: 0px;
}
.solid{
  background-color: #F5F5F5;

}

.solid h2{
  padding: 30px;
}
.card-container {
  justify-content: center;
  flex-wrap: wrap;padding: 30px;
}
.card {
  height: 350px;
  width: 260px;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  margin: 15px  ;

  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 2px 4px #aeb4b8;
}
.card:hover{
  background-color: #DCE9E1;
}
.card img {
  height: 100px;
  padding: 20px 0;
  object-fit: cover;
  
}
.card-content h3 {
  font-weight: 600;
  font-size: 20px;
  padding: 5px 20px;
}
.card-content p {
  font-size: 16px;
  color: #646464;
  padding: 5px 20px;
}
@media (max-width: 920px) {
  header {
    padding: 13px 5%;
  }
  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    transition: all 0.5 ease;
  }
  .navbar a {
    display: block;
    padding: 0;
    margin: 0px 0px 40px 0px;
  }
  .navbar a:hover {
    color: #aeb4b8;
  }
}
