* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
  list-style: none;
  text-decoration: none;
  border: none;
}
header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  width: 100%;
  background: transparent;
  padding: 27px 13%;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s ease;
}

.navbar a {
  font-weight: 600;
  font-size: 13px;
  margin: 15px 22px;
  transition: all 0.5s ease;
}
.navbar a:hover {
  color: onHoverColor;
}

.h-right a {
  font-size: 13px;
  font-weight: 600;
}
#menu-icon {
  color: black;
  cursor: pointer;
  z-index: 10001;
  font-size: 24px;
  display: none;
}
.home {
  position: relative;
  height: 135vh;
  width: 100%;
  background-image: url("/img/slide1.jpg");
  background-size: cover;
  background-position: bottom center;

}
.home-text h1{
    font-size: 50px;
    font-weight: 700;
}
